test.wsdl

<?xml version="1.0" encoding="UTF-8"?>
  <definitions
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://soap:80/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    targetNamespace="http://soap:80/"
    name="Service">

    <types>
      	<xsd:schema xmlns:tns="http://soap:80/" targetNamespace="http://soap:80/">
			<xsd:element name="Message1" type="tns:Message1"/>
        	<xsd:element name="Message1Response" type="tns:Message1Response"/>
			<xsd:element name="Message2" type="tns:Message2"/>
            <xsd:element name="Message2Response" type="tns:Message2Response"/>

			<xsd:complexType name="Message1">
        	  <xsd:sequence>
        	    <xsd:element name="stringreq" type="xsd:string"/>
        	  </xsd:sequence>
        	</xsd:complexType>

			<xsd:complexType name="Message1Response">
        	  <xsd:sequence>
        	    <xsd:element name="stringresp" type="xsd:string"/>
        	  </xsd:sequence>
        	</xsd:complexType>

			<xsd:complexType name="Message2">
              <xsd:sequence>
                <xsd:element name="stringreq" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Message2Response">
              <xsd:sequence>
                <xsd:element name="stringresp" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>

		</xsd:schema>
    </types>

	<message name="Message1">
      <part name="parameters" element="tns:Message1"/>
    </message>
    <message name="Message1Response">
      <part name="parameters" element="tns:Message1Response"/>
    </message>
	<message name="Message2">
      <part name="parameters" element="tns:Message2"/>
    </message>
    <message name="Message2Response">
      <part name="parameters" element="tns:Message2Response"/>
    </message>

	<portType name="Message1">
		<operation name="Message1">
			<input message="tns:Message1"/>
			<output message="tns:Message1Response"/>
		</operation>
		<operation name="Message2">
            <input message="tns:Message2"/>
            <output message="tns:Message2Response"/>
        </operation>
	</portType>

	<binding name="ServicePortBinding" type="tns:Message1">
      <soap:binding
        transport="http://schemas.xmlsoap.org/soap/http"
        style="document"/>

      <operation name="Message1">
        <soap:operation soapAction=""/>
        <input>
          <soap:body use="literal"/>
        </input>
        <output>
          <soap:body use="literal"/>
        </output>
      </operation>
		<operation name="Message2">
        <soap:operation soapAction=""/>
        <input>
          <soap:body use="literal"/>
        </input>
        <output>
          <soap:body use="literal"/>
        </output>
      </operation>
	</binding>

    <service name="Service">
      <port name="ServicePort" binding="tns:ServicePortBinding">
        <soap:address location="http://soap:80/"/>
      </port>
    </service>

</definitions>
